/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: purple;
  color: white;

  width: 80%;
  margin: 20px auto;

  padding: 2em;
  border-radius: 25px;
  box-shadow: rgba(172, 4, 238, 0.25) 0px 50px 100px -20px,
    rgba(209, 74, 236, 0.3) 0px 30px 60px -30px,
    rgba(124, 9, 133, 0.35) 0px -2px 6px 0px inset;
}

.intro-content {
  width: 50%;
  margin: inherit;
}
